@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .container-custom {
    @apply max-w-[1440px] mx-auto px-8 md:px-16;
  }
  
  .section-padding {
    @apply py-20 md:py-24;
  }
}